<div class="container-fluid">
    <div class="d-flex mb-4">
        <h3 class="text-dark mb-0" style="margin-top: 15px;"><strong>Анализ образовательной программы</strong></h3>
    </div>
    <div class="row">
        <div class="col mb-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Сравнение образовательных программ</h6>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Введите ссылку</h4><input ng-model="urlForComparison" class="border rounded" type="text" style="width: 100%;max-width: 100%;">
                            <div class="d-flex justify-content-start align-items-center mt-3">
                                <button ng-disabled="!urlForComparison || isLoading" ng-click="compare()" class="btn btn-primary" type="button"  >Результат</button>
                                <div ng-if="isLoading" class="ml-3 spinner-border" role="status"> 
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Результат сравнения</h4>
                            <div class="text-center">
                                <canvas id="compareResult" style="max-width: 500px; max-height: 500px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>