<div class="container-fluid">
    <div class="d-flex mb-4">
        <h3 class="text-dark mb-0" style="margin-top: 15px;"><strong>Анализ образовательной программы</strong></h3>
    </div>
    <div class="row">
        <div class="col mb-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Образовательные программы</h6>
                </div>
                <div class="card-body">
                    <div class="col-md-12 search-table-col" style="margin-top: 5px;">
                        <div class="form-group pull-right col-lg-4"><input ng-model="searchValue" type="text" class="search form-control" placeholder="Направление подготовки..."></div><span class="counter pull-right"></span>
                        <div class="table-responsive table-bordered table table-hover table-bordered results" style="color: rgb(78,115,223);">
                        <table class="table table-bordered table-hover">
                            <thead class="bill-header cs" style="background-color: rgb(78,115,223);">
                                <tr>
                                    <th id="trs-hd" class="col-lg-1 text-white text-nowrap">Название образовательной программы</th>
                                    <th id="trs-hd" class="col-lg-2 text-white">Подробнее</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="program in programs">
                                    <td>{{program.ProgName}}</td>
                                    <td><a href="#/analyseProgram" class="btn btn-success" style="margin-left: 5px;"><i class="fa fa-check" style="font-size: 15px;"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>