<div class="container my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control d-inline-flex mr-2 w-75" ng-model="hhSearch" />
                <button class="btn btn-outline-primary" ng-disabled="!hhSearch" ng-click="getHhDiagram()">Получить</button>
                <div ng-if="isLoading" class="m-3 spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="col-sm-12">
                <p ng-if="countVacancies" class="mt-3 text-body">Количество вакансий: {{countVacancies}}</p>
                <p ng-if="middleSalary" class="text-body">Средняя зп: {{middleSalary | number : 1}}</p>
                <p ng-if="dispersion" class="text-body">Дисперсия: {{dispersion | number : 1}}</p>
            </div>

        </div>
    </div>
</div>