<div class="container-fluid">
    <div class="d-flex mb-4">
        <h3 class="text-dark mb-0"><strong>{{student.Surname + ' ' + student.Name + ' ' + student.MiddleName}}</strong></h3>
    </div>
    <div class="row">
        <div class="col mb-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0">Модули</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div role="tablist" id="accordion-{{moduleId}}" ng-repeat="(moduleId, module) in modules">
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1">{{module.ModuleName}}</a></h5>
                                    </div>
                                    <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-{{moduleId}}">
                                        <div class="card-body">
                                            <div class="row" style="margin-bottom: 20px;">
                                                <div class="col">
                                                    <h5>Оценка модуля</h5>
                                                    <p>5</p>
                                                </div>
                                                <div class="col">
                                                    <h5>Доля выполненных заданий</h5>
                                                    <p>100%</p>
                                                </div>
                                            </div>
                                            <h5 style="color: rgb(78,115,223);margin-bottom: 20px;">Задания</h5>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>Название задания</th>
                                                        <th>Дата начала</th>
                                                        <th>Дата конца</th>
                                                        <th>Оценка преподавателя студенту</th>
                                                        <th>Оценка задания студентом</th>
                                                        <th>Оценка преподавателя студентом</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="(taskId, task) in module.Tasks">
                                                        <td>Название задания</td>
                                                        <td>{{convertFromISO(task.StartDate)}}</td>
                                                        <td>{{convertFromISO(task.EndDate)}}</td>
                                                        <td>{{task.MarkForAnswer}}</td>
                                                        <td>{{task.StudentTaskMark}}</td>
                                                        <td>{{task.StudentHeadMark}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
