<button id="navButton" data-toggle="collapse" class="navbar-toggler" data-target="#menu">
    <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon">
        <i class="la la-navicon"></i></span>
</button>
<div class="collapse navbar-collapse " id="menu">
    <ul class="nav navbar-nav flex-grow-1 justify-content-space-evenly">
        <li class="nav-item d-none d-xs-block d-md-block" role="presentation" style="display: contents">
            <a class="navbar-brand" href="#">ДГТУ</a>
        </li>
        <!--<li class="nav-item" role="presentation"><a class="nav-link active" href="#"></a></li>-->
         <li class="nav-item dropdown"><a class="nav-link" href="#/main">Главная</a></li>
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Критерии</a>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
        </li>
        <li class="nav-item" role="presentation" ng-if="!user">
            <a class="nav-link montserrat0 navbarStyle " ng-click="login()" href="#/login">ВХОД</a>
        </li>
    </ul>
</div>
