
<button id="navButton" data-toggle="collapse" class="navbar-toggler" data-target="#menu">
    <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon">
            <i class="la la-navicon"></i></span>
</button>
<div class="collapse navbar-collapse " id="menu">
    <ul class="nav navbar-nav flex-grow-1 justify-content-space-evenly">
        <li class="nav-item d-none d-xs-block d-md-block" role="presentation" style="display: contents">
            <a class="nav-link" href="#/main" title="ДГТУ">
                <img src="images/logo.png" style="width: 28.5px;margin-top: -6px;">
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link montserrat navbarStyle" ng-click="setSelectedTabInTab('main')" href="#/main">ГЛАВНАЯ</a>
        </li>
        <!--<li class="nav-item" role="presentation">
            <a class="nav-link montserrat navbarStyle" ng-click="setSelectedTabInTab('apply')"  href="#/apply">ЗАЯВЛЕНИЯ</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link montserrat navbarStyle" ng-click="setSelectedTabInTab('direction')" href="#/direction">НАПРАВЛЕНИЯ</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link montserrat navbarStyle" ng-click="setSelectedTabInTab('pk')" href="#/priemnaya-komissiya">ПРИЕМНАЯ КОМИССИЯ</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link montserrat navbarStyle" ng-click="setSelectedTabInTab('support')" href="#/support">ПОДДЕРЖКА</a>
        </li>
        <li class="nav-item" role="presentation" ng-if="!user">
            <a class="nav-link montserrat0 navbarStyle " ng-click="setSelectedTabInTab('support')" href="#/login">ВОЙТИ</a>
        </li>-->
        <!--<li class="nav-item customdropdown" role="presentation" ng-mouseleave="closeDropDown('account')" ng-if="user">
            <div class="nav-item dropdown">
                <a id="account" ng-click="openDD('account');" class="dropdown-toggle pointer nav-link navbarStyle" id="dropdownMenuAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >АККАУНТ</a>
                <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuAccount">
                    <a ng-click="setSelectedTabInTab('lk')" class="dropdown-item pointer text-nowrap" role="presentation" href="#/lk" >Мои данные</a>
                    <a class="dropdown-item divider" role="presentation"></a>
                    <a ng-click="setSelectedTabInTab('users')" ng-if="user.isAdmin" class="dropdown-item pointer" role="presentation" href="#/users">Список пользователей</a>
                    <a ng-click="setSelectedTabInTab('events')" ng-if="user.isAdmin" class="dropdown-item pointer" role="presentation" href="#/events">События</a>
                    <a ng-click="setSelectedTabInTab('subjects')" ng-if="user.isAdmin" class="dropdown-item pointer text-nowrap" role="presentation" href="#/subjects">Список экзаменов</a>
                    <a ng-click="setSelectedTabInTab('directionExam')" ng-if="user.isAdmin" class="dropdown-item pointer text-nowrap" role="presentation" href="#/direction-exams">Экзамены направлений</a>
                    <a  ng-if="user.isAdmin" class="dropdown-item divider" role="presentation"></a>
                    <a ng-click="setSelectedTabInTab('logOut')" class="dropdown-item pointer" role="presentation" ng-click="logOut()">Выйти</a>
                </div>
            </div>
        </li>-->
    </ul>
</div>

